* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #9b9b9b;
    background: url('./images/body-bg.jpg');
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    position: relative;
    display: inline-block;
    padding: 11px 32px;
    border: none;
    text-transform: uppercase;
    color: #FFF;
}

.button::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 63%;
    height: 100%;
    background-color: #F13F3F;
    z-index: -1;
    transition: width .3s ease;
}

.button:hover::before {
    width: 100%;
}

.heading-2 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    line-height: 1.25;
    grid-row: 700;
    color: #FFF;
    text-transform: uppercase;
}

.heading-4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 24px;
    line-height: 1.25;
    color: #FFF;
}

.heading-2::before {
    position: absolute;
    content: '';
    border-left: 1px solid #f13f3f;
    height: 35px;
    top: 12px;
    left: -25px;
}

/* HEADER START */

.header-nav__wrap {
    position: relative;
}

.header-nav {
    position: fixed;
    max-width: 1200px;
    width: 100%;
    padding: 22px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.nav-button {
    width: 40px;
    height: 24px;
    position: absolute;
    right: 22px;
    top: 50%;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.nav-button.active .button-line:after {
    transform: rotate(135deg);
    width: 38px;
    top: -8px;
}

.nav-button.active .button-line::before {
    transform: rotate(225deg);
    width: 38px;
    top: -8px;
}

.nav-button.active .button-line {
    background: transparent;

}

.navbar-main-element {
    display: none;
}

.button-line,
.button-line:after,
.button-line:before {
    position: absolute;
    height: 2px;
    left: 0;
    background: #f13f3f;
    transform: rotate(180deg);
}

.button-line {
    top: 3px;
    width: 38px;
    display: inline-block;
    transition: background .3s ease;
}

.button-line:after {
    content: "";
    width: 32px;
    top: -8px;
    transition: .5s all ease;
}

.button-line:before {
    content: "";
    width: 26px;
    top: -16px;
    transition: .3s all ease;
}

.nav-button:hover .button-line:after,
.nav-button:hover .button-line:before {
    width: 38px;
}

.nav-wrap {
    background: #202020;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.45);
    width: 330px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease;
    padding-top: 125px;
}

.nav-wrap.active {
    right: 0;
    transform: translateX(0);
}

@media (min-width: 1200px) {
    .nav-wrap.active {
        right: calc((100% - 1200px) / 2);
        transform: translateX(0);
    }
}

.nav-item {
    position: relative;
    display: block;
    padding: 19px 30px 19px 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.nav-link {
    font-family: 'Montserrat';
    line-height: 1.4;
    text-transform: none;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;

    transition: color .3s ease .1s;
}

.nav-link:hover {
    color: #f13f3f;
}

/* END HEADER */

/* START PROMO */

.promo {
    padding: 200px 0;
    position: relative;
    overflow: hidden;
}

.promo-bg {
    background-image: url('./images/slide-5-1-1920x880.jpg');
    background-size: cover;
    background-position-x: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    transform: scale(1.08);
    transform-origin: 0 0;
    transition: transform 8.5s ease;
}

.promo-bg.active {
    /* background-position-x: right; */
    transform: scale(1);
}

.promo-content {
    max-width: 44%;
}

.text-accent {
    display: flex;
    justify-content: flex-start;
}

.tex-accent__red {
    display: block;
    font-family: 'Inter';
    color: #F13F3F;
    font-weight: 800;
    font-size: 72px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    line-height: 1;
}

.tex-accent__rebel {
    display: block;
    color: #FFF;
    font-family: 'Inter';
    font-size: 157px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: -105px;
    line-height: 1;
}

.heading-1 {
    font-family: 'Inter';
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: right;
    color: #ffffff;
}

.promo-description {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.promo-contacts {
    position: absolute;
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    font-size: 14px;
    font-weight: 700;
}

.promo-contancts__title {
    color: #f13f3f;
    padding: 0 2px;
}

.promo-contancts__source {
    color: #FFF;
    padding: 0 2px;
}

/* END PROMO */

/* START ABOUT */

.about {
    padding: 115px 0;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-content__column-1 {
    display: flex;
    justify-content: space-between;
}

.about-content__column-1 {
    max-width: 50%;
    width: 100%;
    padding: 0 15px;
    flex: 0 0 50%;
    position: relative;
}

.column-1__img-containers {
    display: flex;
}

.parallax-container-2 {
    /* transform: translateY(40px); */
}

.parallax-container {
    width: 100%;
    position: relative;
    padding: 0 15px;
    transition: transform 5s ease;
}

.parallax-container img {
    width: 100%;
}

.column-1__text {
    font-family: 'Montserrat';
    position: absolute;
    bottom: 0;
    right: -110px;
    transform: rotate(-90deg);
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
}

.about-content__column-2 {
    max-width: 41.6%;
    padding: 0 15px;
}

.about-content__text-big {
    font-size: 18px;
    line-height: 1.5;
    color: #FFF;
    margin-top: 40px;
}

.about-content__small-big {
    margin-top: 20px;
}

.about-content__img-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

/* END ABOUT */

/* START SKILLS */

.skills {
    padding: 115px 0;
}

.skills-container {
    padding-left: 30px;
    display: flex;
}

.skills-content {
    flex: 0 0 58%;
}

.skills-cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    gap: 20px;
}

.skills-card {
    max-width: 300px;
}

.card-title__container {
    display: flex;
    align-items: center;
}

.card-title {
    margin-left: 20px;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.card-text {
    margin-top: 22px;
}

.skills-bg {
    flex: 0 0 42%;
}

.skills-bg__img-container {
    position: relative;
    width: 100%;
}

.skills-bg__img {
    position: absolute;
    transform: translateY(-25%);
    right: -80px;
    max-width: 100%;
    height: auto;
}

/* END SKILLS */

/* START STAFF */

.staff {
    padding: 115px 0;
}

.staff-title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.staff-slider__container {
    margin-top: 30px;
}

.staff-slider {
    display: flex;
    gap: 30px;
}

.staff-slide {
    max-width: 370px;
    height: 480px;
    position: relative;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.28);
    cursor: pointer;
}

.staff-slide__img {
    max-width: 100%;
}

.staff-slide__content {
    position: absolute;
    padding: 25px 15px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1d1d1d;
    box-shadow: inset 0 -3px 0 0 #f13f3f;
    text-align: center;
}

.staff-slide__content p {
    margin-top: 15px;
}

.social-list {
    visibility: hidden;
    opacity: 0;
    margin-bottom: -35px;
    transition: all .7s;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.staff-slide__content *+.social-list {
    margin-top: 15px;
}

.staff-slide:hover .social-list {
    visibility: visible;
    opacity: 1;
    margin-bottom: 0;
}

.social-list__link {
    font-size: 21px;
    line-height: 1;
    color: #F13F3F;
}





