* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #9b9b9b;
    background: url('./images/body-bg.jpg');
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
}

.button {
    position: relative;
    padding: 11px 32px;
    border: none;
    text-transform: uppercase;
    color: #FFF;
}

.button::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 63%;
    height: 100%;
    background-color: #F13F3F;
    z-index: -1;
    transition: width .3s ease;
}

.button:hover::before {
    width: 100%;
}

/* HEADER START */

.header-nav__wrap {
    position: relative;
}

.header-nav {
    position: fixed;
    max-width: 1200px;
    width: 100%;
    padding: 22px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.nav-button {
    width: 40px;
    height: 24px;
    position: absolute;
    right: 22px;
    top: 50%;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.nav-button.active .button-line:after{
    transform: rotate(135deg);
    width: 38px;
    top: -8px;
}
.nav-button.active .button-line::before{
    transform: rotate(225deg);
    width: 38px;
    top: -8px;
}
.nav-button.active .button-line{
    background: transparent;

}

.navbar-main-element {
    display: none;
}

.button-line,
.button-line:after,
.button-line:before {
    position: absolute;
    height: 2px;
    left: 0;
    background: #f13f3f;
    transform: rotate(180deg);
}

.button-line {
    top: 3px;
    width: 38px;
    display: inline-block;
    transition: background .3s ease;
}

.button-line:after {
    content: "";
    width: 32px;
    top: -8px;
	transition: .5s all ease;
}

.button-line:before {
    content: "";
    width: 26px;
    top: -16px;
	transition: .3s all ease;
}

.nav-button:hover .button-line:after,
.nav-button:hover .button-line:before {
    width: 38px;
}

.nav-wrap {
    background: #202020;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.45);
    width: 330px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease;
    padding-top: 125px;
}

.nav-wrap.active {
    right: 0;
    transform: translateX(0);
}

@media (min-width: 1200px) {
    .nav-wrap.active {
        right: calc((100% - 1200px) / 2);
        transform: translateX(0);
    }
}

.nav-item {
    position: relative;
    display: block;
    padding: 19px 30px 19px 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.nav-link {
    font-family: 'Montserrat';
    line-height: 1.4;
    text-transform: none;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;

    transition: color .3s ease .1s;
}

.nav-link:hover {
    color: #f13f3f;
}

/* END HEADER */

/* START PROMO */

.promo {
    padding: 200px 0;
    position: relative;
    overflow: hidden;
}

.promo-bg {
    background-image: url('./images/slide-5-1-1920x880.jpg');
    background-size: cover;
    background-position-x: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    transform: scale(1.08);
    transform-origin: 0 0;
    transition: transform 8.5s ease;
}

.promo-bg.active {
    background-position-x: right;
    transform: scale(1);
}

.promo-content {
    max-width: 44%;
}

.text-accent {
    display: flex;
    justify-content: flex-start;
}

.tex-accent__red {
    display: block;
    font-family: 'Inter';
    color: #F13F3F;
    font-weight: 800;
    font-size: 72px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    line-height: 1;
}

.tex-accent__rebel {
    display: block;
    color: #FFF;
    font-family: 'Inter';
    font-size: 157px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: -105px;
    line-height: 1;
}

.heading-1 {
    font-family: 'Inter';
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: right;
    color: #ffffff;
}

.promo-description {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.promo-contacts {
    position: absolute;
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    font-size: 14px;
    font-weight: 700;
}

.promo-contancts__title {
    color: #f13f3f;
    padding: 0 2px;
}

.promo-contancts__source {
    color: #FFF;
    padding: 0 2px;
}